body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid black;
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid black;
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid black;
  width: 200px;
  padding: 32px;
  margin-left: 329px;
}
