@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;700&display=swap");

* {
  font-family: "Anek Telugu", sans-serif;
}

h1 {
  margin-left: 4rem;
}

.image-container {
  width: 100%;
  display: flex;
}
img {
  box-shadow: 10px, 5px, 5px;
  box-shadow: black ;
}

p {
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

